<footer>
    <div class='site-footer-top'>
        <div class='site-footer-top-column'>
            <h1 class='column-heading'>Contact us</h1>
            <p class='contact-para'>call us 24/7</p>
            <p class='contact-number'>88378 99574 / 72250 06682</p>
            <p class='contact-para'>National Institute of Technology, Hamirpur</p>
            <p class='contact-para'>abbyswag25@gmail.com</p>
            <div class='social-links'></div>
        </div>
        <div class='site-footer-top-column'>
            <h1 class='column-heading'>Social links</h1>
            <p class='common-column-para'>
                <a href="/event">Events</a>
            </p>
            <p class='common-column-para'>
                <a href="https://www.youtube.com/user/pixonoids">Youtube</a>
            </p>
            <p class='common-column-para'>
                <a href="https://www.instagram.com/pixonoids/?hl=en">Instagram</a>
            </p>
            <p class='common-column-para'>
                <a href="https://www.facebook.com/Pixonoids/">Facebook</a>
            </p>
        </div>
        <div class='site-footer-top-column'>
            <h1 class='column-heading'>Society</h1>
            <p class='common-column-para'>
                <a href="/about">About Us</a>
            </p>
            <p class='common-column-para'>
                <a href="/blog">Blog</a>
            </p>
            <p class='common-column-para'>
                <a href="/gallery">Gallery</a>
            </p>
            <p class='common-column-para'>
                <a href="/terms">Term & Condition</a>
            </p>
        </div>
        <div class='site-footer-top-column'>
            <h1 class='column-heading'>Products</h1>
            <p class='common-column-para'>
                <a href="/store">Store</a>
            </p>
            <p class='common-column-para'>Web Applications</p>
            <p class='common-column-para'>3d-Modals</p>
            <p class='common-column-para'>Animations</p>
        </div>
    </div>


    <div class="site-footer-middle">
        
    </div>


    <hr/>
    <div class='site-footer-bottom'>
        <p>All Right Reserved by Pixonoids</p>
        <!-- <p>We Accept Safe Payment For</p> -->
    </div>
</footer>