<header class="header">
  <a href="/">
    <div class="gradient-border" id="box"><p>
      <img src="../data/home/logo.png" alt="logo" class="site-logo">
      <span>PIXONOIDS</span>
    </p></div>
  </a>
  <div class="responsiveNavbar">
    <div class="responsiveNavbarIcon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="crossIcon">
    <div class="crossLine"></div>
    <div class="crossLine"></div>
  </div>
  <div class="responsiveNavigation">
    <ul class="navItems">
      <li class="navItem responsiveNavItem">
        <p >Teams</p>
        <ul class="teamNavItems responsiveTeamNavItems">
          <li class="teamNavItem"></li>
          <li class="teamNavItem responsiveTeamNavItem">
            <a href="/team/photography">Photography</a>
          </li>
          <li class="teamNavItem responsiveTeamNavItem">
            <a href="/team/video">Video Editing</a>
          </li>
          <li class="teamNavItem responsiveTeamNavItem">
            <a href="/team/animation">Animation</a>
          </li>
          <li class="teamNavItem responsiveTeamNavItem">
            <a href="/team/web">Web Development</a>
          </li>
          <li class="teamNavItem responsiveTeamNavItem">
            <a href="/team/graphics">Graphic Designing</a>
          </li>
        </ul>
      </li>
      <li class="navItem responsiveNavItem">
        <a href="/gallery">Gallery</a>
      </li>
      <li class="navItem responsiveNavItem">
        <a href="/store">Store</a>
      </li>
      <li class="navItem responsiveNavItem">
        <a href="/blog">Blog</a>
      </li>
      <li class="navItem responsiveNavItem">
        <a href="/events">Events</a>
      </li>
      <li class="navItem responsiveNavItem">
        <a href="/about">About Us</a>
      </li>
    </ul>
  </div>
  <div class="headerNavbar">
    <ul class="navItems">
      <li class="navItem">
        <p >Teams</p>
        <ul class="teamNavItems">
          <li class="teamNavItem"></li>
          <li class="teamNavItem">
            <a href="/team/photography">Photography</a>
          </li>
          <li class="teamNavItem">
            <a href="/team/video">Video Editing</a>
          </li>
          <li class="teamNavItem">
            <a href="/team/animation">Animation</a>
          </li>
          <li class="teamNavItem">
            <a href="/team/web">Web Development</a>
          </li>
          <li class="teamNavItem">
            <a href="/team/graphics">Graphics Designing</a>
          </li>
        </ul>
      </li>
      <li class="navItem">
        <a href="/gallery">Gallery</a>
      </li>
      <li class="navItem">
        <a href="/store">Store</a>
      </li>
      <li class="navItem">
        <a href="/blog">Blog</a>
      </li>
      <li class="navItem">
        <a href="/about">About Us</a>
      </li>
    </ul>
  </div>

</header>