<div class="contributers">
    <h1>Our contributers</h1>
    <div class="contributer-list">
        <div class="contributer-data">
            <img src="../../data/team/abhishek.jpg" alt="A">
            <span class="contributer-name">Abhishek Singh</span>
            <span>|</span>
        </div>
        <div class="contributer-data">
            <img src="../../data/team/vishawjeet.jpg" alt="V">
            <span class="contributer-name">Vishwjeet Singh</span>
            <span>|</span>
        </div>
        <div class="contributer-data">
            <img src="../../data/team/arushi.jpg" alt="A">
            <span class="contributer-name">Arushi Jain</span>
            <span>|</span>
        </div>
    </div>
    <hr>
</div>