<div class="feature-work">
    <div class="feature-work-heading">
        <p>Freelancing Section</p>
    </div>
    <div class="feature-work-data">
        <div class="feature-work-card-center">
            <div class="feature-work-card-wrapper">
                <div class="feature-work-card-btn backward">
                    <div class="backward-btn">
                        <div class="arrow-icon"></div>
                        <div class="arrow-icon"></div>
                    </div>
                </div>
                <div class="feature-work-card-root">
                    <div class="feature-work-card front-side">
                        <img src="../../data/home/freelancing-work1.jpeg" alt="image" class="card-image">
                    </div>
                    <div class="feature-work-card right-side">
                        <img src="../../data/home/freelancing-work2.jpg" alt="image" class="card-image">
                    </div>
                    <div class="feature-work-card back-side">
                        <img src="../../data/home/freelancing-work2.jpeg" alt="image" class="card-image" style="transform: rotateY(180deg);">
                    </div>
                    <div class="feature-work-card left-side">
                        <img src="../../data/home/freelancing-work4.jpg" alt="image" class="card-image">
                    </div>
                    <div class="feature-work-card top-side"></div>
                    <div class="feature-work-card bottom-side"></div>
                </div>
                <div class="feature-work-card-btn forward">
                    <div class="forward-btn">
                        <div class="arrow-icon"></div>
                        <div class="arrow-icon"></div>
                    </div>
                </div>
                <div class="feature-work-card-position">
                    <div class="card-position"></div>
                    <div class="card-position"></div>
                    <div class="card-position"></div>
                    <div class="card-position"></div>
                </div>
            </div>
        </div>
        <div class="feature-work-card-data">
            <p>
                We are a vibrant, creative studio that delivers purpose driven design and engaging experiences for businesses who want to stand out and step into the spotlight.
                Here are our major area of works and their samples shown left cube.
            </p>
            <ol>
                <li>Website Designing and Development</li>
                <li>Create 3D Modals</li>
                <li>3D and 2D Animations</li>
            </ol>
            <div class="store-btn-wrapper">
                <div class="btn store-btn">
                    <a href="/store">View Store</a>
                </div>
            </div>
        </div>
    </div>
</div>