<div class="homeFirstSection">
    <div class="homeFirstSectionData">
        <div class="siteData">
            <div class="siteName">
                <span>P</span>
            <span>I</span>
            <span>X</span>
            <span>O</span>
            <span>N</span>
            <span>O</span>
            <span>I</span>
            <span>D</span>
            <span>S</span>
            </div>
            <!-- <div class="siteLogo">
                <img src="../images/pixonoids.jpg" alt="Pixonoids logo">
            </div> -->
        </div>
        <div class="siteDescription">
            <p>
                Pixonoids is group of creative and efficient persons. 
                And we collaborates to each other to give you a best solution for your project.
            </p>
            <p>
                Explore gallery to view our works and store to find best Animations, 3d-Models and Website Themes...
            </p>
        </div>
        <div class="homeFirstSectionBtns">
            <div type="button" class="btn homeFirstSectionBtn">
                <a href="/gallery">Explore Gallery</a>
            </div>
            <div type="button" class="btn homeFirstSectionBtn">
                <a href="/store">View Store</a>
            </div>
        </div>
    </div>
</div>