<div class="whatwedo">
    <h1 class="whatwedo-heading">
        What We Do
    </h1>
    <div class="whatwedo-para">
        here are our major fields of work with their sample...
    </div>

    <div class="whatwedo-data">
        <div class="whatwedo-card">
            <div class="feature-item">
                <div class="feature-img"></div>
                <div class="feature-img"></div>
            </div>
            <p>
                Photography
            </p>
            <p>
                The mission of the Photography department is to provide a supportive environment for interested photography students to share their creativity, knowledge and passion for photography while attending College. 
                <!-- The club will hold regular meetings and discussions and organize events such as :- photo-walks, field trips and lectures and workshops by visiting artists. 
                Members will also explore the possible opportunities for photography projects in collaboration with other departments, organize peer to peer portfolio reviews and explore the possibilities. -->
            </p>
            <a href="/team/photography">LEARN MORE</a>
        </div>

        <div class="whatwedo-card">
            <div class="feature-item">
                <div class="feature-video">
                    <video controls 
                    width="100%" 
                    height="256px"
                    poster="../../data/home/video-feature-thumbnail.jpg">
                        <source src="../../data/home/video-feature.mp4"
                        type="video/mp4">
                        Sorry, this video is not supported to your browser
                    </video>
                </div>
            </div>
            <p>
                Video Editing
            </p>
            <p>
                <!-- Editing is the process of selecting and preparing photography, visual, audible media used to convey information.  -->
                The editing process can involve correction, condensation, organization, and many other modifications performed with an intention of producing a correct, 
                consistent, accurate and complete work.
            </p>
            <a href="/team/video">LEARN MORE</a>
        </div>

        <div class="whatwedo-card">
            <div class="feature-item">
                <div class="feature-animation">
                    <video controls
                    width="100%" 
                    height="256px"
                    poster="../../data/home/demo3.png">
                        <source src="../../data/home/animation-feature.mp4"
                        type="video/mp4"
                        >
                        Sorry, this video is not supported to your browser
                    </video>
                </div>
            </div>
            <p>
                Animation
            </p>
            <p>
                The Animation Department is for students who are interested in creating digital art, 3D Modeling & Animating , 3D printing, Claymation/Stop-motion and traditional hand-drawn animation. 
                <!-- Students can work in the art computer lab and interact with other students with similar interests.  -->
                Students who have taken Intro to 3D Modeling class are also able to create computer animations.
            </p>
            <a href="/team/animation">LEARN MORE</a>
        </div>
        <div class="whatwedo-card">
            <div class="feature-item">
                <div class="feature-poster"></div>
            </div>
            <p>
                Graphic Designing
            </p>
            <p>
                The purpose of the Graphic Design Deparment is to promote and encourage interest in the field of graphic and media design to students, through activities and events, and for students to gain resume and portfolio building industry knowledge and experience.
            </p>
            <a href="/team/graphics">LEARN MORE</a>
        </div>
        <div class="whatwedo-card">
            <div class="feature-item">
                <div class="feature-template">
                    <img src="../../data/home/web-feature.gif" alt="web animation" class="feature-template-img">
                </div>
            </div>
            <p>Web Development</p>
            <p>
                The gaol of Web Development Department to introduce the wide world Internet and Networking.
                We learn mordern framworks and techniques to create best web applications, one of them you are visiting now...
            </p>
            <a href="/team/web">LEARN MORE</a>
        </div>
    </div>
    <div class="gallery-btn-wrapper">
        <div class="btn gallery-btn">
            <a href="/gallery">Explore Gallery</a>
        </div>
    </div>
</div>