<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
	<link rel="stylesheet" type="text/css" href="./css/aboutussty.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet"> 
</head>
<body>




	<div id="grppicpixo">
		<img id="grp" src="./data/team/pixogrp.jpeg">
		<div class="side" id="side1"></div>
		<div class="side" id="side2"></div>
	</div>

	<div class="adjust">
		
	</div>

	<!-- cards starts here -->





	<!-- Final year -->


	<div class="description">
		Final Year
	</div>
	<div class="finalyear">
		<div class="boxd">
			<div class="imgbox">
				<img src="./images/image1.jpg">
			</div>
			<div class="contentbox">
				<span>John Doe</span>
				<p>Web Developer</p>
			</div>
		</div>
		<div class="boxd">
			<div class="imgbox">
				<img src="image2.jpg">
			</div>
			<div class="contentbox">
				<span>John Doe</span>
				<p>Web Developer</p>
			</div>
		</div>
		<div class="boxd">
			<div class="imgbox">
				<img src="image3.jpg">
			</div>
			<div class="contentbox">
				<span>John Doe</span>
				<p>Web Developer</p>
			</div>
		</div>
		<div class="boxd">
			<div class="imgbox">
				<img src="image3.jpg">
			</div>
			<div class="contentbox">
				<span>John Doe</span>
				<p>Web Developer</p>
			</div>
		</div>
		<div class="boxd">
			<div class="imgbox">
				<img src="image3.jpg">
			</div>
			<div class="contentbox">
				<span>John Doe</span>
				<p>Web Developer</p>
			</div>
		</div>
		<div class="boxd">
			<div class="imgbox">
				<img src="image3.jpg">
			</div>
			<div class="contentbox">
				<span>John Doe</span>
				<p>Web Developer</p>
			</div>
		</div>
		<div class="boxd">
			<div class="imgbox">
				<img src="image3.jpg">
			</div>
			<div class="contentbox">
				<span>John Doe</span>
				<p>Web Developer</p>
			</div>
		</div>
		
	</div>



	<!-- Third year -->




	<div class="description">
		Third Year
	</div>
	<div class="ThirdYear">
		<div class="box">
			<div class="show1">
				<img src="./images/image3.jpg">
			</div>
			<div class="show2">
				<img src="./images/image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="./images/image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="show1">
				<img src="image3.jpg">
			</div>
			<div class="show2">
				<img src="image3.jpg">
			</div>
			<div class="hidden">
				<div class="details">
					<h2>Chris Hemesworth<br><span>Australian Actor</span></h2>
				</div>
			</div>
		</div>
		
	</div>




	<!-- Second Year -->





	<div class="description">
		Second Year
	</div>
	<div class="SecondYear">
			<div class="box">
				<div class="front">
					<img src="./images/image2.jpg">
				</div>
				<div class="back">
					<div class="details">
					<h2>John Doe<br><span>Photographer</span></h2>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="front">
					<img src="image1.jpg">
				</div>
				<div class="back">
					<div class="details">
					<h2>John Doe<br><span>Photographer</span></h2>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="front">
					<img src="image1.jpg">
				</div>
				<div class="back">
					<div class="details">
					<h2>John Doe<br><span>Photographer</span></h2>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="front">
					<img src="image1.jpg">
				</div>
				<div class="back">
					<div class="details">
					<h2>John Doe<br><span>Photographer</span></h2>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="front">
					<img src="image1.jpg">
				</div>
				<div class="back">
					<div class="details">
					<h2>John Doe<br><span>Photographer</span></h2>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="front">
					<img src="image1.jpg">
				</div>
				<div class="back">
					<div class="details">
					<h2>John Doe<br><span>Photographer</span></h2>
					</div>
				</div>
			</div>
	
	</div>





	<!-- First Year -->




	<div class="description">
		Volunteers
	</div>
	<div class="container">
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/abhishek.jpeg">
			</div>
			<div class="contentbox">
				<span>Abhishek Singh</span>
				<p>Web Developer</p>
			</div>
			<div class="o1"></div>	
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/vishwjeet.jpeg">
			</div>
			<div class="contentbox">
				<span>Vishwajeet Singh</span>
				<p>Web Developer</p>
			</div>
			<div class="o1"></div>	
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/arushi.jpeg">
			</div>
			<div class="contentbox">
				<span>Arushi Jain</span>
				<p>Web Developer</p>
			</div>
			<div class="o1"></div>	
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/harsh.jpeg">
			</div>
			<div class="contentbox">
				<span>Harsh Srivastav</span>
				<p>Photographer</p>
			</div>
			<div class="o1"></div>
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/smile.jpeg">
			</div>
			<div class="contentbox">
				<span>Smile Guleria</span>
				<p>Animator</p>
			</div>
			<div class="o1"></div>
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/ishita.jpeg">
			</div>
			<div class="contentbox">
				<span>Ishita Sharma</span>
				<p>Animator</p>
			</div>
			<div class="o1"></div>
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/ankita.jpeg">
			</div>
			<div class="contentbox">
				<span>Ankita Jaiswaal</span>
				<p>Photographer</p>
			</div>
			<div class="o1"></div>
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/sajal.jpeg">
			</div>
			<div class="contentbox">
				<span>Sajal</span>
				<p>Photographer</p>
			</div>
			<div class="o1"></div>
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/anshul.jpeg">
			</div>
			<div class="contentbox">
				<span>Anshul</span>
				<p>Video Editor</p>
			</div>
			<div class="o1"></div>
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/shivanand.jpeg">
			</div>
			<div class="contentbox">
				<span>Shivanand</span>
				<p>Photographer</p>
			</div>
			<div class="o1"></div>	
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/shashidhar.jpeg">
			</div>
			<div class="contentbox">
				<span>Shashidhar</span>
				<p>Animator</p>
			</div>
			<div class="o1"></div>	
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/abhijeet.jpeg">
			</div>
			<div class="contentbox">
				<span>Abhijeet</span>
				<p>Video Editor</p>
			</div>
			<div class="o1"></div>	
			<div class="o2"></div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src="./data/team/ratna.jpeg">
			</div>
			<div class="contentbox">
				<span>Ratna Shekhar</span>
				<p>Graphic Designer</p>
			</div>
			<div class="o1"></div>	
			<div class="o2"></div>
		</div>
		
		
	</div>
	<hr 
	style="   
		background-color: blueviolet;
		height: .2rem;
		margin: 2rem 1rem 0 1rem;">

	<%- include('./partials/footer') -%>
	<%- include('./partials/header') -%>
	

    <script src="./js/header.js"></script>
    <script src="./js/footer.js"></script>
    <!-- <script src="./js/footer.js"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="jquery.ripple.js" ></script>

	<script type="text/javascript">
		$(function(){
			$('#grp').ripple();
		})
	</script> -->
	<script type="text/javascript" src="./js/tilt.js"></script>
	<script type="text/javascript">
	VanillaTilt.init(document.querySelectorAll(".boxd"), {
		max: 25,
		speed: 400
	});
	
	</script>
	<script type="text/javascript">
		var side1=document.getElementById('side1');
		window.addEventListener('scroll',function(){
				side1.style.left=-window.pageYOffset+'px';
			});
			var side2=document.getElementById('side2');
			window.addEventListener('scroll',function(){
				side2.style.left=window.pageYOffset+'px';
			});
	</script>
	<script type="text/javascript">
		window.addEventListener('scroll',()=>{
			img=document.getElementById('grp');
			value=1+window.scrollY/-400;
			img.style.opacity=value;
		})
	</script>
</body>
</html>