@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&family=Noto+Sans+TC:wght@500&family=Red+Rose&display=swap');

* {
    padding: 0rem;
    margin: 0rem;
    outline: none;
    border: none;
    font-family: sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}


.btn{
    display: grid;
    place-self: center;
    place-items: center;
    width: 7rem;
    height: 2.9rem;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    border-radius: 10px;
}